/* Top Section */

#Top {
    padding: 3% 10% 2% 10%;
    background-repeat: no-repeat;
    height: 630px;
    text-align: center;
}

.Top-Home {
    background-image: url(Images/Background1.jpg);

}


.Nav-Item {
    display: inline;
    padding: 0 4%;
    font-size: 1rem;
}

.Nav-Link {
    color: rgb(186, 189, 223);
    text-decoration: none;
    font-weight: 200;
}

.Nav-Link:hover {
    color: rgb(212, 222, 233);
}

.Navbar-Toggler-Icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

@media (min-width: 1224px) {
    .Navbar-Expand-Large {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .Navbar-Expand-Large .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .Navbar-Expand-Large .navbar-toggler {
        display: none;
    }

    .Navigation {
        right: 100px;
        top: 40px;
        position: absolute;
        width: 500px;

    }
}



@media (max-width: 1224px) {
    .Nav-Div {
        text-align: right;
    }

    .Nav-Item {
        display: block;
        margin-right: 50px;
    }

    .navbar-toggler {
        position: absolute;
        right: 50px;
    }
}


.Big-Text {
    color: #6337ff;
    font-family: Pacifico, seirf;
    font-size: 5.5rem;
    font-weight: normal;
}

.Work {
    font-size: 1.3rem;
    margin: 30px auto auto auto;
    font-family: Arvo, serif;
    width: 60%;
}

@media (max-width:630px) {
    .Work {
        position: relative;
        right: 80px;
    }
}

.Top-Text {
    font-size: 3.5rem;
    margin: 165px auto 0 auto;
    font-family: chakra petch, serif;
    width: 60%;
}





/* Avatar Section */
.Avatar-Div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    border-style: solid;
    border-radius: 100%;
    margin-top: 70px;
    margin-left: 100px;
    border-width: 8px;
    border-color: #ff4242;
}

.Avatar-Image {
    width: 93%;
    border-radius: 100%;
    padding-top: 15px;
    padding-bottom: 12px;
}

.Avatar-Greet {
    position: relative;
    left: 63%;
    Bottom: 350px;
    font-family: Lobster Two, sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: #6244d1;
    width: 300px;

}

.Avatar-Text {
    position: relative;
    font-size: 150%;
    line-height: 3rem;
    bottom: 350px;
    width: 450px;
    left: 55%;
    font-family: Ubunru, sans-serif;
    color: rgb(228, 207, 228);
    font-weight: 700;
    text-align: center;
}

.Button {
    background-color: #ffde23;
    color: #1e1e1e;
    border-style: solid;
    padding: 1% 6%;
    border-radius: 12px;
    font-family: "Monserrant", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    left: 61.5%;
    bottom: 300px;
}

.Button:hover {
    background-color: rgba(255, 217, 0, 0.912);
    color: #1e1e1e;
}

.Ruler {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: #ffffff;
    width: 15%;
    position: relative;
    left: 45%;
    bottom: 200px;
}

@media (max-width:950px) {
    .Avatar-Div {
        width: 65%;
    }

    .Avatar-Greet {
        position: relative;
        bottom: 0;
        left: 25%;
        margin-top: 50px;
    }

    .Avatar-Text {
        position: relative;
        bottom: 0;
        left: 20%;
        width: 370px;
        margin-bottom: 30px;
    }

    .Button {
        position: relative;
        bottom: 0;
        left: 32.5%;
        margin-bottom: 250px;
    }
}


@media (max-width:420px) {
    .Avatar-Greet {
        position: relative;
        bottom: 0;
        left: 25%;
        margin-top: 50px;
        font-size: 2.2rem;
    }

    .Avatar-Text {
        position: relative;
        bottom: 0;
        left: 10%;
        width: 300px;
        margin-bottom: 30px;
        font-size: 1rem;
    }

}










/* Projects Section */

.Top-Projects {
    background-image: url(Images/Background2.jpg);
    margin-bottom: 100px;

}

.Heading {
    color: #7049ff;
    font-family: Pacifico, seirf;
    font-size: 5.5rem;
    font-weight: normal;
}

@media(max-width:420px) {
    .Heading {
        font-size: 4rem;
        position: relative;
        left: 5%;
    }
}


#Projects {
    margin-bottom: 200px;
}

.carousel-inner {
    text-align: center;
}

.Project-Image {
    margin-bottom: 30px;
    border-radius: 20px;
    /* 
    border-style: solid;
    border-color: #e327ed;
    border-width: 7px;
    padding: 12px;
    border-radius: 10px; */

}

.carousel-item {
    margin-bottom: 100px;
}

a {
    text-decoration-color: #ffd900;
}

.Project-Title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #ffd900;

}

.Project-Detail {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.8rem;
    color: #e11e1e;
    margin-bottom: 60px;
    font-weight: 700;
}

@media (max-width:900px) {
    .Project-Detail {
        font-size: 1.4rem;
    }
}


.carousel-control-prev-icon {
    position: relative;
    left: 100px;
}

.carousel-control-next-icon {
    position: relative;
    right: 100px;
}


@media (max-width: 1130px) {


    .carousel-control-prev-icon {
        position: static;
    }

    .carousel-control-next-icon {
        position: static;
    }

    .Project-Image {
        width: 70%;
    }
}



@media (max-width: 640px) {

    .Top-Text {
        position: relative;
        right: 100px;
    }

    .Heading {
        position: relative;
        right: 25px;
    }

    .Project-Detail {
        font-size: 1.084rem;
    }
}










/* Contact Section */

.Top-Contact {
    background: url(Images/Background4.jpg);
}

.Nav-Contact {
    display: inline;
    padding: 0 4%;
    position: relative;
    font-size: 1rem;
    bottom: 10px;
}


@media(max-width: 815px) {
    .Nav-Contact {
        display: block;
        margin-top: 20px;
    }
}


.Contact-Text {
    color: #f10da5;
    font-family: "Lobster two", sans-serif;
    font-size: 5rem;
    left: 155%;
    top: 450px;
    position: relative;
    width: 300px;
    padding-left: 0;
    padding-right: 0;
}

.Contact-Image {
    position: relative;
    left: 141%;
    top: 440px;
}

.Title {
    color: #ebeaeaf6;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-decoration: none;
    position: relative;
    right: 45%;
    bottom: 30px;
}

#Contact {
    width: 30%;
    height: 900px;
    position: relative;
    left: 15.5%;
    bottom: 940px;
    text-align: center;

}

.Contact-Heading {

    font-family: Ubuntu, sans-serif;
    font-size: 2rem;
    color: #eeca00;
    font-weight: 700;
    position: relative;
    left: 10%;
    width: 80%;
}

.Ruler-Contact {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: #ffffff;
    width: 25%;
    position: relative;
    left: 95%;
    top: 70px;
}

#Footer-Contact {
    background-color: #3b1fa3;
    height: 200px;
    margin-top: -800px;
    text-align: center;
}

@media(max-width: 835px) {
    #Contact {
        position: relative;
        text-align: center;
        width: 50%;
        bottom: 400px;
        left: 25%;
    }

    .Contact-Text {
        position: relative;
        top: -60px;
        left: 8%;
    }

    .Contact-Image {
        position: relative;
        top: -110px;
        left: -4%;
    }

    #Footer-Contact {
        position: relative;
        top: 500px;
    }

    .Ruler-Contact {
        visibility: hidden;
    }
}

@media (max-width:620px) {
    .Contact-Image {
        position: relative;
        left: -18%;
    }

    .Contact-Text {
        position: relative;
        left: -18%;
    }
}

@media(max-width:420px) {
    .Contact-Text {
        font-size: 4rem;
    }

    .Contact-Heading {
        font-size: 1.5rem;
    }

    .Title{
        position: relative;
        right: 30%;
        bottom: 0px;
    }
    #Footer-Contact .Footer-Name{
        width: 200px;
        position: relative;
        left: 33%;
    }

    #Contact{
        width: 65%;
    }

    #Footer-Contact{
        margin-top: -900px;
    }
}



.Form-Item {
    text-align: center;
    border-radius: 13px;
    margin-top: 3%;
    font-size: 0.85rem;
    width: 100%;
    height: 40px;
    color: #1e1e1e;
    background-color: rgb(205, 218, 230);
}

textarea {
    margin-top: 3%;
    border-radius: 13px;
    font-size: 0.85rem;
    width: 100%;
    height: 150px;
    color: #1e1e1e;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: rgb(205, 218, 230);
}

.Form-Error {
    color: red;
    font-weight: 300;
    font-family: Monserrant, sans-serif;
    font-size: 0.65rem;
    margin-top: -20px;
}

.Submit-Div {
    text-align: center;
    width: 100%;
}


.Submit-Button {
    position: relative;
    top: 20px;
    background-color: #0080ffe3;
    color: rgb(253, 243, 255);
    border-style: solid;
    padding: 1% 10%;
    border-radius: 12px;
    font-family: "Monserrant", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    border-width: 1px;
}

.Submit-Button:hover {
    background-color: #0074e8df;
    color: rgb(253, 243, 255);
}















/* About Section */
.Top-About {
    background-image: url(Images/Background3.jpg);
}

.Big-Text-About {
    color: #6337ff;
    font-family: Pacifico, seirf;
    font-size: 4.5rem;
    width: 600px;
    font-weight: normal;
}

.Top-Text-About {
    font-size: 3.5rem;
    margin: 165px auto 0 auto;
    font-family: chakra petch, serif;
    width: 100%;
}

.Personal-Div {
    position: relative;
    left: 55%;
    bottom: 250px;
    width: 500px;
}

.Academic-Div {
    position: relative;
    bottom: 450px;
    left: 10%;
    width: 600px;
}

.Skills-Div {
    position: relative;
    left: 50%;
    bottom: 600px;
    width: 600px;
}

.About-Heading {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    color: rgb(255, 234, 0);
    font-size: 2.5rem;
}

.Fields {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(253, 191, 239);
    margin-right: 15px;
}

.Field-Items {
    font-family: Monserrant, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 2% auto;
}

.Greet-Pic {
    position: relative;
    top: 100px;
    left: 3%;
    width: 40%;
}

.Hat-Pic {
    position: relative;
    left: 60%;
    width: 32%;
}

.Programmer-Pic {
    position: relative;
    bottom: 300px;
    left: 10%;
    width: 20%;
}

.Guitar-Pic {
    position: relative;
    top: 20px;
    left: 5%;
    width: 25%;
}

#Footer-About {
    background-color: #3b1fa3;
    height: 200px;
    margin-top: -200px;
    text-align: center;
}


.Ruler-About {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: #ffffff;
    width: 15%;
    position: relative;
    left: 45%;
    bottom: 500px;
}

@media(max-width:1120px) {


    .Personal-Div {
        position: relative;
        left: 25%;
        top: 200px;
        width: 500px;
    }

    .Academic-Div {
        position: relative;
        left: 20%;
        top: 260px;
        width: 600px;
    }

    .Skills-Div {
        position: relative;
        left: 21%;
        top: 550px;
        width: 600px;
    }


    .Greet-Pic {
        position: relative;
        top: 100px;
        left: 27%;
        width: 50%;
    }

    .Hat-Pic {
        position: relative;
        top: 260px;
        left: 28%;
        width: 45%;
    }

    .Programmer-Pic {
        position: relative;
        top: 350px;
        left: 15%;
        width: 22%;
    }

    .Guitar-Pic {
        position: relative;
        top: 550px;
        left: 30%;
        width: 33%;
    }

    #Footer-About {
        background-color: #3b1fa3;
        height: 200px;
        margin-top: 600px;
        text-align: center;
    }

    .Ruler-About {
        top: 550px;
    }
}


@media(max-width:745px) {

    .Fields {
        font-size: 0.83rem;
    }

    .Field-Items {
        font-size: 0.7rem;
    }

    .About-Heading {
        font-size: 1.5rem;
    }

    .Personal-Div {
        width: 350px;
    }

    .Academic-Div {
        width: 350px;
    }

    .Skills-Div {
        width: 350px;
    }

    .Programmer-Pic{
        width: 30%;
    }

    .Guitar-Pic{
        width: 40%;
        left: 20%;
    }
}



@media(max-width:420px) {

    .Fields {
        font-size: 0.7rem;
    }

    .Field-Items {
        font-size: 0.6rem;
    }

    .Personal-Div {
        position: relative;
        left: 22%;
        width: 280px;
    }

    .Academic-Div {
        width: 280px;
    }

    .Skills-Div {
        width: 280px;
    }

    .Greet-Pic{
        width: 55%;
    }

    .Programmer-Pic{
        width: 40%;
    }

    .Guitar-Pic{
        width: 55%;
        left: 0%;
    }

    #Footer-About .Footer-Name{
        width: 200px;
        left: 35%;
    }

}






/* Footer Section */
.Footer-Name {
    position: relative;
    left: 35%;
    bottom: 15%;
    color: rgb(201, 209, 209);
    font-family: "Dancing Script", seirf;
    font-size: 3rem;
    font-weight: 700;
    margin-left: 10px;
    width: 350px;
}

#Footer {
    background-color: #3b1fa3;
    height: 200px;
    margin-top: -150px;
    text-align: center;
}

.Footer-Nav {
    color: rgb(186, 189, 223);
    text-decoration: none;
    font-weight: 200;
    display: block;
    position: relative;
    right: 30%;
    top: 27%;
}

.Footer-Nav:hover {
    color: rgb(212, 222, 233);
}


.Footer-Link {
    position: relative;
    left: 32.5%;
    bottom: 40%;
    color: lightgray;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 80px 15px 0px 15px;
    text-decoration: none;
    width: 30px;
}

@media (max-width:950px) {
    .Footer-Name {
        position: relative;
        left: 17%;
    }

    .Footer-Link {
        position: relative;
        margin: 0;
        bottom: 50%;
        display: block;
        left: 90%;
    }

    .Footer-Nav {
        position: relative;
        right: 40%;
    }


    .CopyRight {
        position: relative;
        top: -90px;
    }
}




@media(max-width:500px) {
    .Footer-Name {
        font-size: 2rem;
        position: relative;
        left: 13%;
    }

    .Footer-Nav {
        position: relative;
        right: 30%;
    }
}




.Footer-Link:hover {
    color: azure;
}

.Footer-Link-Div {
    width: 500px;
}

.CopyRight {
    position: relative;
    bottom: 10%;
    color: darkgray;
    font-size: 0.7rem;
    font-weight: 200;
}

body {
    background-color: #1e1e1e;
    color: azure;
    font-family: 'Montserrant', sans-serif;
    font-weight: 900;
}